:root {
    --bg-color: #F5F5F5;
    --sec-bg-color: #FFF;
    --custom-color: #7D45EA;
    --font-color: #707070;
    --font-family: Arial, Helvetica, sans-serif;
    --sec-font-family: 'Delicious Handrawn', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* navbar */

header {
    font-family: var(--sec-font-family);
    background-color: var(--sec-bg-color);
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    letter-spacing: 3px;
}

.navbar .logo .code {
    font-family: var(--font-family);
    color: var(--custom-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    list-style: none;
}

nav ul a {
    font-size: 2rem;
    color: var(--font-color);
    text-decoration: none;
    padding: 0px 10px;
    border-radius: 4px;
}

nav ul a:hover {
    background-color: #414141;
    color: var(--custom-color);
}

/* about section */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 90px;
}

.about .about-image img {
    border-radius: 8px;
    width: 400px;
    height: 400px;
}

.about .about-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about .about-text h1 {
    color: var(--custom-color);
    font-size: 50px;

}

.about .about-text h4 {
    font-size: 20px;
    font-weight: 800;
}

.about .about-text p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.about-icons {
    background-color: var(--custom-color);
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 4rem;
    padding: 50px 0px;
}

.about-icons .html:hover {
    color: #ff5100;
}

.about-icons .js:hover {
    color: #dfe913;
}

.about-icons .node:hover {
    color: #14f204;
}

.about-icons .react:hover {
    color: #1fb0f8;
}

.about-icons .database:hover {
    color: #1900ff;
}

/* .home {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 4rem 2rem;
}

.home h1 {
    font-size: 5rem;
}

.home h1 span {
    font-family: var(--sec-font-family);
    color: var(--custom-color);
    font-weight: bold;
    letter-spacing: 2px;
}

.home p {
    width: 800px;
    font-size: 2rem;
    color: var(--font-color);
    text-align: center;
    font-weight: bold;
}

.home button {
    cursor: pointer;
    padding: 10px 40px;
    color: var(--bg-color);
    border: 0;
    background-color: var(--custom-color);
    border-radius: 4px;
    font-size: 20px;
} */

/* footer */

footer {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    padding: 40px 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-about h1 {
    color: var(--sec-bg-color);
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--font-color);
}

.footer .footer-about p {
    padding-top: 10px;
    color: var(--font-color);
    width: 300px;
}

.footer .footer-socials i {
    color: white;
    margin: 2px;
}

.footer .footer-separator {
    height: 100px;
    border: 1px solid white;
}